server_url: 
client_token: 
cache_dir: cache
language:
  cpp98:
    compile: "g++ \"%source\" -o \"%executable\" -DONLINE_JUDGE -DHOJ_JUDGER"
    run: "\"%executable\""
  cpp03:
    compile: "g++ \"%source\" -o \"%executable\" -DONLINE_JUDGE -DHOJ_JUDGER -std=cpp03"
    run: "\"%executable\""
  cpp11:
    compile: "g++ \"%source\" -o \"%executable\" -DONLINE_JUDGE -DHOJ_JUDGER -std=cpp11"
    run: "\"%executable\""
  cpp14:
    compile: "g++ \"%source\" -o \"%executable\" -DONLINE_JUDGE -DHOJ_JUDGER -std=cpp14"
    run: "\"%executable\""
  cpp17:
    compile: "g++ \"%source\" -o \"%executable\" -DONLINE_JUDGE -DHOJ_JUDGER -std=cpp17"
    run: "\"%executable\""
  cpp20:
    compile: "g++ \"%source\" -o \"%executable\" -DONLINE_JUDGE -DHOJ_JUDGER -std=cpp20"
    run: "\"%executable\""
  nodejs:
    run: "node \"%source\""
checker:
  testlib:
    compile: "g++ \"%source\" -o \"%executable\" -DONLINE_JUDGE -DHOJ_JUDGER"