# Copy this file to your problem data directory
# and named as 'config.yml'

# Config for running a judge task

# file(string): file prefix
file: file_prefix

# mode(string): judge mode
# - oi: OI mode
mode: oi

# type(string): judge type
# - default: default mode
# - spj: special judge mode
type: default

case_count: 1 # case count
case: # detail for each test case
  - space: 1024 # max space (KiB)
    time: 1000 # max time (ms)
    score: 50 # score iff AC
  - space: 1024
    time: 1000
    score: 50
