# Copy this file to your problem data directory
# and named as 'config.yml'

# Config for running a judge task

# mode(string): judge mode
# - oi: OI mode
# - acm: ACM mode 
mode: oi

# type(string): judge type
# - default: default mode
# - spj: special judge mode
# - pretest: codeforces mode
type: default

case_count: 1 # case count
case: # detail for each test case
  - max_space: 1024
    max_time: 1000
    score: 50
  - max_space: 1024
    max_time: 1000
    score: 50
